<!DOCTYPE html>
<html>
<head>
<link href='http://fonts.googleapis.com/css?family=Nothing+You+Could+Do|Niconne|Titillium+Web:200,300,400' rel='stylesheet' type='text/css'>
<link rel='stylesheet' type='text/css' href='application2.css'>
	<title>Bye-O-Baby</title>
	<script src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'></script>
	<script src='http://code.jquery.com/ui/1.10.3/jquery-ui.js'></script>
</head>
<body>
	<nav id='menu'>
		<ul>
			<li>
				<div class='tooltip'> <p>Home</p> </div>
				<a id='home-btn' href='#home' title='Home'>&#32;</a>
			</li>
			<li>
				<div class='tooltip'> <p>Services</p> </div>
				<a id='services-btn' href='#services' title='Offered services'>&#32;</a>
			</li>
			<li>
				<div class='tooltip'> <p>Child Care</p> </div>
				<a id='ccp-btn' href='#childcare' title='Child care program'>&#32;</a>
			</li>
			<li>
				<div class='tooltip'> <p>Photos</p> </div>
				<a id='photos-btn' href='#photos' title='Photos of the child care'>&#32;</a>
			</li>
			<li>
				<div class='tooltip'> <p>About</p> </div>
				<a id='about-btn' href='#about' title='About the owner'>&#32;</a>
				</li>
		</ul>
	</nav>

	<section id='login-box'>
		<form name='portal-login' action='login-submit' method='get'>
			<ul>
				<li><!-- <label for='user-email'>Email</label> -->
					<input type='email' name='user-email' placeholder='your.email@email.com' required>
				</li>
				<li><!-- <label for='user-password'>Password</label> -->
					<input type='password' name='user-password' placeholder='password' required>
				</li>
				<li>
					<input type='submit' value='Log in'>
				</li>
			</ul>
		</form>

		<nav id='login-portal'>
			Parents Portal
			<!-- <a href='login.html' title='Log in to the parents portal'>Parents Portal</a> -->
		</nav>
	</section>

		<img id='sun' src='images/sun.png'>
	<div id='clouds-high'>
		<img id='cloud1' src='images/cloud1.png'>
		<img id='cloud3' src='images/cloud3.png'>
		<img id='cloud5' src='images/cloud5.png'>
		</div>
		<div id='clouds-low'>
		<img id='cloud2' src='images/cloud2.png'>
		
		<img id='cloud4' src='images/cloud4.png'>
		
	</div>
	<img id='balloon1' src='images/balloon1.png'>
	
	<div id='logo'>
		<img src='images/cloud-big.png' alt='big background cloud'>
		<h1>Bye-o-baby</h1>

	</div>
	
	<div  id='home'>
		<article>
			<h2>Helping with pregnancy to parenting<br>and everything in between</h2>
			<p>Being a new parent can be very overwhelming. There&#39;s so much to do and think about before your little bundle of joy arrives. It used to be easy&#59; when you got pregnant you bought the stuff you needed. In most families a parent was able to stay home with their baby.  Along with friends, family members and (of course) mom&#39;s advice, you did the best you could to not sweat the small stuff and raise a well rounded individual. These days it&#39;s not so simple&#59; in most families both parents have to work and some form of childcare becomes a necessity.  Whether you intend on going back to work full time or part time, it&#39;s important to start thinking about your options.</p>	   
	  		<p>My goal is to make this transition easier.  Working in child care for over 10 years, I have had the privilege to meet and work with many wonderful people and be a part of some amazing programs.  I&#39;ve always thought of myself as the &#8220;customer service&#8221; of preschool.  I have brought some of these people together to help provide services for new parents, and to assist with all those questions that may have you feeling stressed on what to expect.</p>

	  		<nav class='mini-nav'>
				<a class='next' href='#services' title='Offered services'>&#32;</a>
			</nav>
		</article>

		
		
	</div>

	<div id='services'>

		<article>
			<h2>Services</h2>
			<p>In your first consultation I will be able to help you by assessing your specific needs. These may include&#58;</p>
			<ul>
			<li><span>Child Care</span>Available for infants six weeks to five years. LIC&#35; 414002179</li>
			<li><span>Preschool Counseling</span>Help answer all your questions about the right type of child care program for you and your family. This includes developmental assessments.</li>
			<li><span>Pregnancy&#47;Newborn Assistance</span>Help getting you and your home ready for your new arrival, &#40;i.e. the right products to buy, diaper training, sleep training, baby proofing, etc&#41;.</li>
			<li><span>Health and Nutrition</span>A Certified Holistic Nutritionist can help make sure you and your baby are healthy from pregnancy on.</li>
			<li><span>First Aid and CPR Class</span>In the conviniency of your own home you can have a Certified Instructor teach you and your family the fundamentals of infant CPR and first aid, so everyone can be prepared for anything</li>
			</ul>
			<p>More services available upon request.</p>
			<nav class='mini-nav'>
				<a class='prev' href='#home' title='Home'>&#32;</a>
				<a class='next' href='#childcare' title='Child Care Program'>&#32;</a>
			</nav>
		</article>
		<img id='airplane' src='images/airplane.png'>
	</div>

	<div id='childcare'>
		<div id='monkey'>
			<img id='monkey-body' width='120px' src='images/monkey.gif'>
			<img id='monkey-eyes' width='120px' src='images/monkey-eyes.gif'>
		</div>
		<article>

		<h2>Child Care Program</h2>
			<h5>License &#35;414002179</h5>
			<h3>Hours of Operation</h3>
			<ul>
				<li><span>Regular hours:</span>9am &#150; 5pm</li>
				<li><span>Extended hours:</span>7am &#150; 9am &#38; 5pm &#150; 7pm</li>
			</ul>
			<h3>Schedule Options</h3>
			<p><span>Full and half day programs</span>are available for 5, 3, and 2 day weeks in the month. There is a daily drop in rate for each type of student. Payment is due on the 1<span class='superscripted'>st</span> of each month. If the child starts in the middle of the month, that month will be prorated.</p>
			<p><span>Monthly rates</span> are based on an average of 21 weekdays a month, this includes months such as November and December. 3 days a week are based on 12 days per month and 2 days are a total of 8 days a month. Even if a child is in the center for a total of 23 days one month they will still only pay 21 days, same goes for months that only have 20 weekdays in the month.</p>
			<p>Our center only accepts new clients who are looking for consistent monthly child care.</p>
			<p><span>Holidays:</span> this program is open year round with a very small amount of days closed. A complete list of holidays to come.</p>
			<p><span>Sick days and vacations</span> can also be prorated. High recurring absences may result in being dropped from the program.</p>
			<p><span>The price guides</span> for the child care program are divided into three groups. This includes:
				<ul>
					<li><span>Infant</span> 6 week &#150; walking </li>
					<li><span>Toddler</span> walking &#150; potty&#45;trained</li>
					<li><span>Preschooler</span> potty&#45;trained &#150; 5 years</li>
				</ul>
				For a copy of the admissions agreement and price guide, please email Danyielle Hidalgo at <a href='mailto:danyiellehidalgo@yahoo.com'>danyiellehidalgo&#64;yahoo.com</a>.</p>

			<nav class='mini-nav'>
				<a class='prev' href='#services' title='Child Care Program'>&#32;</a>
				<a class='next' href='#photos' title='Photos'>&#32;</a>
			</nav>
		</article>
	</div>
	<div id='photos'>
		<article>
			<h2>Photos</h2>
			<div class='displayed'>
				<img src='images/gallery/IMG_0158.jpg'>
				<img src='images/gallery/IMG_0161.jpg'>
				<img src='images/gallery/IMG_0162.jpg'>
				<img src='images/gallery/IMG_0163.jpg'>
				<img src='images/gallery/IMG_0164.jpg'>
				<img src='images/gallery/IMG_0167.jpg'>
				<img src='images/gallery/IMG_0169.jpg'>
				<img src='images/gallery/IMG_0172.jpg'>
				<img src='images/gallery/IMG_0173.jpg'>
				<img src='images/gallery/IMG_4186.jpg'>
				<img src='images/gallery/IMG_4268.jpg'>
				<img src='images/gallery/IMG_4742.jpg'>
				<img src='images/gallery/IMG_4745.jpg'>
				<img src='images/gallery/IMG_5095.jpg'>
				<img src='images/gallery/IMG_5098.jpg'>
				<img src='images/gallery/IMG_5100.jpg'>
				<img src='images/gallery/IMG_5297.jpg'>
				<img src='images/gallery/IMG_5355.jpg'>
				<img src='images/gallery/IMG_5404.jpg'>
				<img src='images/gallery/IMG_5405.jpg'>
			</div>

			<div id='slideshow'>
				<img src='images/gallery/IMG_0158.jpg'>
				<img src='images/gallery/IMG_0161.jpg'>
				<img src='images/gallery/IMG_0162.jpg'>
				<img src='images/gallery/IMG_0163.jpg'>
				<img src='images/gallery/IMG_0164.jpg'>
				<img src='images/gallery/IMG_0167.jpg'>
				<img src='images/gallery/IMG_0169.jpg'>
				<img src='images/gallery/IMG_0172.jpg'>
				<img src='images/gallery/IMG_0173.jpg'>
				<img src='images/gallery/IMG_4186.jpg'>
				<img src='images/gallery/IMG_4268.jpg'>
				<img src='images/gallery/IMG_4742.jpg'>
				<img src='images/gallery/IMG_4745.jpg'>
				<img src='images/gallery/IMG_5095.jpg'>
				<img src='images/gallery/IMG_5098.jpg'>
				<img src='images/gallery/IMG_5100.jpg'>
				<img src='images/gallery/IMG_5297.jpg'>
				<img src='images/gallery/IMG_5355.jpg'>
				<img src='images/gallery/IMG_5404.jpg'>
				<img src='images/gallery/IMG_5405.jpg'>
			</div>
			<nav class='mini-nav'>
				<a class='prev' href='#childcare' title='Photos'>&#32;</a>
				<a class='next' href='#about' title='About the owner'>&#32;</a>
			</nav>
		</article>
	</div>

	<div id='about'>
		
		<article>
			<h2>About Me</h2>
			<img src='images/danyielle.png'>
			
			<p>My name is Danyielle Hidalgo.</p> 
			<p>I live in Menlo park with my husband and two year old daughter. I have been working with children for over ten years. I have worked at such places as Head Start as a Family Advocate and a Spanish translator. I worked as an infant care, preschool teacher and enrichment specialist including math, phonics, and music  at CCLC Stanford West for a NAEYC &#40;National Association for the Education of Young Children&#41; accredited program.</p> 
			<p>My philosophy has always been to help young children with all aspects of their development. My new goal is to also help parents during this very important time in their life, in and out of the classroom. I have acquired many important resources throughout my career and want to bring them to you.</p>
			<p>You can always reach me at <a href='mailto:danyiellehidalgo@yahoo.com'>danyiellehidalgo&#64;yahoo.com</a>.</p>

			<nav class='mini-nav'>
				<a class='prev' href='#photos' title='Photos'>&#32;</a>
			</nav>
		</article>
	</div>
	<div id='house'>
		<img src='images/house.png'>
		
	</div>

	
	<script type='text/javascript'>
	// alert('test');

	// Smooth scrolling between the articles //

	var root = $('html, body');

	$('a.prev, #menu a, a.next').on('click', function(){
		var linkHref = $(this).attr('href');
		root.animate({
			scrollTop: $(linkHref).offset().top
		}, 1200, 'easeInOutExpo', function(){
			window.location.hash = linkHref;
		});
		return false;
	});


	//CLICKing on a menu nav button
	var menuButtons = $('#menu').find('a');
	menuButtons.on('click', function(){
		menuButtons.animate({'background-color' : '#d9edf6'}, 200, 'swing');
		$(this).animate({'background-color' : '#70B2C2'}, 100, 'swing');

	});
	//MENU Nav TOOLTIP on hover
	var tooltips = $('.tooltip');
	var menuNb;
	menuButtons.on('mouseenter', function(){
		 menuNb = menuButtons.index(this);
		$(tooltips[menuNb]).css({'opacity' : '0.2', 'display' : 'inline'}).animate({'right' : '9%', 'opacity' : '1'}, 200);
	});

	menuButtons.on('mouseleave', function(){
		$(tooltips[menuNb]).animate({'right' : '14%', 'opacity' : '0.2'}, 300, function(){
			$(this).css({'display' : 'none'});
		});
	});
	//Portal log-in box animation
	//'top': '-169px',
	var portal = $('#login-box');
	$(portal).on('mouseenter', function(){
		$(this).animate({'top' : '-175px'}, 720, 'easeOutElastic');
	});


	$(portal).on('mouseleave', function(){
		$(this).stop().animate({'top' : '-179px'}, 350, 'easeInOutExpo');
	});

	$(portal).on('click', function(){
		$(this).animate({'top':'0px'}, 200, 'easeInOutExpo');
	});



	// Animating the backgrounds //
	$(window).on('scroll', function(){
		moveBackground();
	});


	function moveBackground() {
		var scrolled = $(window).scrollTop();
		$('#clouds-high').css({'top' : - 0.3 * scrolled + 'px',
						  'right' : 0.04 * scrolled + 'px'
						});
		$('#clouds-low').css({'top' : - 0.2 * scrolled + 'px',
						  'right' : 0.06 * scrolled + 'px'
						});
		$('#balloon1').css({
							'top' : 63 + 0.114 * scrolled + '%',
							'left' : -3 + 0.002 * scrolled + '%'
		});

		$('#sun').css({'top' : 1 + 0.05 * scrolled + '%',
			'-webkit-transform' : 'rotate(' + (scrolled/$(window).height())*80 + 'deg)'
		});

		// $('#logo').css ({
		// 	'top' : 0.19 * scrolled + 'px',
		// 	'left' : -0.1 * scrolled + 'px'

		// });

		$('#airplane').css({
			'left' : ((32 + 0.04 * scrolled)< 88 ? (32 + 0.04 * scrolled) : 88 ) + '%',
			'top' : 12 + 0.02 * scrolled + '%'
		});

		$('#logo').css({
			'top':  + 0.2 * scrolled + 'px'
		});
	}


	// Photo Gallery

	var displayedPhotos = $('.displayed img');
	var slideshowPhotos = $('#slideshow img');
	var index = 0;
	var positionX = 0;
	var positionY = 0;
	var currentImg = $(slideshowPhotos[index]);

	displayedPhotos.on('click', function (){
		index = $(displayedPhotos).index(this);
		currentImg = $(slideshowPhotos[index]);
		// positionX = $(this).offset().left;
		// positionY = $(this).offset().top;

		//bringing out the background for the slideshow
		$('body').css({"overflow" : "hidden"}).animate({scrollTop: $("#photos").offset().top }, 300, "swing", 
			function(){ $('#slideshow').css({'display' : 'inherit', 
								'opacity' : 0.1, 
								'bottom' : '48%', 
								'right' : '48%', 
								'top': '48%', 
								'left': '48%'})
							.animate({'opacity' : 1, 
									'bottom' : '0%', 
									'right' : '21%', 
									'top': '14%', 
									'left': '21%'}, 900, 'easeOutQuad', function(e){

										//places the first photo from the slideshow on the screen
										currentImg.css({'height' : '80%'});
										var CurrentImgWidth = currentImg.width();
										var CurrentImgHeight = currentImg.height();

										currentImg.css({'opacity' : 0.4, 
													'height' : '22%', 
													'display': 'inherit',
													'left': (($('#slideshow').width())/ 2 ) + 'px',
													'top' : (($('#slideshow').height())/ 2 ) + 'px'
												})
												.animate({
													'height' : '80%',
													'opacity' : 1, 
													'left': (($('#slideshow').width() - CurrentImgWidth)/ 2 ) + 'px',
													'top' : (($('#slideshow').height() - CurrentImgHeight)/ 2 ) + 'px'
													}, 500, 'easeOutCubic');
										});

						});
	});

	//slideshow - go through the photos with clicks
	slideshowPhotos.on('click', function(e){
		var offset = $(this).offset();
		var mouseClickX = e.clientX - offset.left;
		if((mouseClickX > $(this).width() / 2)) {					
			goToNextImage();
		} else {
			goToPreviousImage();
		}
	});

	function goToNextImage() {
		if(index < slideshowPhotos.length - 1) {
			currentImg.animate({'opacity' : 0}, 200).css({'display' : 'none'});
			// index ++;
			currentImg = $(slideshowPhotos[++index]);
			currentImg.css({'display' : 'inherit', 'opacity' : 0}).animate({'opacity' : 1}, 200);

		} else {
			currentImg.animate({'opacity' : 0}, 200).css({'display' : 'none'});
			index = 0;
			currentImg = $(slideshowPhotos[index]);
			currentImg.css({'display' : 'inherit', 'opacity' : 0}).animate({'opacity' : 1}, 200);
		}
	}


	function goToPreviousImage() {
		if(index > 0) {
			currentImg.animate({'opacity' : 0}, 200).css({'display' : 'none'});
			// index ++;
			currentImg = $(slideshowPhotos[--index]);
			currentImg.css({'display' : 'inherit', 'opacity' : 0}).animate({'opacity' : 1}, 200);

		} else {
			currentImg.animate({'opacity' : 0}, 200).css({'display' : 'none'});
			index = slideshowPhotos.length-1;
			currentImg = $(slideshowPhotos[index]);
			currentImg.css({'display' : 'inherit', 'opacity' : 0}).animate({'opacity' : 1}, 200);
		}
	}

	//exit the slideshow with esc key or a click outside the slideshow
	$('body').on('click', function(e){
				if(e.target.nodeName.toLowerCase() != 'img') {
					exitSlideshow();
				}
			});

	$('body').on('keydown', function(e){
		if(e.which == 27) {
			exitSlideshow();
		}
	});

	function exitSlideshow() {
		$('#slideshow').css({'display' : 'none'});
					$(slideshowPhotos).css({'display' : 'none'});
					$("body").css({"overflow" : "visible"});
	}
	</script>
</body>
</html>